

SBSaccoSetup/Debug/
SBSaccoSetup/Release/
AdminstratorModule/bin/
AdminstratorModule/obj/
AuthenticationModule/bin/
AuthenticationModule/obj/
build/
CommonLib/bin/
CommonLib/obj/
CustomerModule/bin/
CustomerModule/obj/
DAL/bin/
DAL/obj/
DatabaseAdministrationModule/bin/
DatabaseAdministrationModule/obj/
Infrastructure/bin/
Infrastructure/obj/
LoansModule/bin/
LoansModule/obj/
ReportsModule/bin/
ReportsModule/obj/
SavingsModule/bin/
SavingsModule/obj/
SearchModule/bin/
SearchModule/obj/
SMOScripting/bin/
SMOScripting/obj/
TellersModule/bin/
TellersModule/obj/
WinSBSacco/bin/
WinSBSacco/obj/



*.pbd
*.exe
*.msi
*.temp
*.cache



