<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="SBSaccoDBEntities" connectionString="metadata=res://*/SBSaccoDBEntities.csdl|res://*/SBSaccoDBEntities.ssdl|res://*/SBSaccoDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=SBSaccoDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

    <add name="DestinationConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SBSchoolDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />     
</connectionStrings>

  <appSettings>
    <add key="LOGFILENAME" value="Logs\\log.log" />
    <add key="ERRORLOGFILENAME" value="Logs\\error.log" />
  </appSettings>

</configuration>